.home {
    background: {
        image: url(../img/1513719_10204622197691631_1221807113591345236_n.jpg);
        repeat: no-repeat;
        size: 100%;}
  }

.homebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    font: {
        size: 25px;
        family: "Bungee";
        weight: bold;}
        
  }
.box 
    h2 {
    border-radius: 20px;
    font-size: 40px;
  }
.boxeo:hover {
    font-size: 60px;
    color: $colorhover1;
  }
.musculacion:hover {
    font-size: 60px;
    color: $colorhover1;
  }
.funcional:hover {
    font-size: 60px;
    color: $colorhover1;
  }
.crossfit:hover {
    font-size: 60px;
    color: $colorhover1;
  }
.clasespers:hover {
    font-size: 50px;
    color: $colorhover2;
  }
.gruposred:hover {
    font-size: 50px;
    color: $colorhover2;
  }
.planif:hover {
    font-size: 50px;
    color: $colorhover2
    ;
  }
.seguimientos:hover {
    font-size: 50px;
    color: $colorhover2;
  }

footer {
    display: flex;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: medium;
    justify-content: space-around;
  }
/*----aca arranca galeria----*/

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: brown;
    gap: 10px;
    padding: {
      top: $padding;
      bottom: $padding;
  }
}

/*----aca arranca sobre mi----*/

.sobremi {
    display: flex;
  }
  
.fotosobremi
   img {
    height: 100%;
    width: 100%;
  }
.textosobremi {
    text-align: center;
    background-color: aquamarine;
    width: 60%;
    font-family: "Holtwood One SC", serif;
  
             h2 { margin: {
                   top: $margin;
                   bottom: $margin;  }}
                p { margin: {
                       left: $margin;
                       right: $margin;
                       top: $margin;
                       bottom: $margin;
              }
            }
        }
/*----aca arranca servicios----*/

  .servicios {
    display: flex;
  }
  .fotoservicios 
     img {
       height: 100%;
       width: 100%; }
  
       .textoservicios {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Holtwood One SC", serif;
              h2 { margin: {
                     top: $margin;
                     bottom: $margin;}}
                  p {  
        text-align: center;
        margin: {
            left: $margin;
            right: $margin;
            top: $margin;
            bottom: $margin;
      }}}
/*----aca arranca contacto----*/

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        background-color: brown;
        height: 100%; 
        width: 100%;
        transition: all 1s;
        gap: 30px;  
            text: {     
              align: center;
              decoration: none; }  
            font: {       
              size: 30px;
              family: "Oswald", sans-serif; }  
            padding: {     
              top: $padding;
              bottom: $padding}
      }
      .link1:hover {
        font-size: $linkhover;
      }
      .link2:hover {
        font-size: $linkhover;
      }
      .link3:hover {
        font-size: $linkhover;
      }
      .link4:hover {
        font-size: $linkhover;
      }
      .links2 
           ul {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              height: 300px;      }
 .nombre {
  width: 200px;
  transition: all 1s;
     :focus {
      width: 300px;} }      
 .apellido {
  width: 200px;
  transition: all 1s;
     :focus {
     width: 300px;
}}
.ingreseconsulta {
  width: 200px;
  transition: all 1s;
     :focus {
     height: 50px;
     width: 300px;
}     }  